* {
  border: 1px solid plum;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
}

.left { 
  width: 300px;
  background-color: darkgrey;
}

.right {
  flex: 1;
  background-color: darkkhaki;
}


img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    border-radius: 10px;
}